<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Business Estimation &mdash;- Data Analysis</title>
  </head>
  <body>
    <header class="header ">
      <h1>Business Estimation</h1>
      <h3>DASHBOARD</h3>
      <iframe src="https://ap2.ca.analytics.ibm.com/bi/?perspective=dashboard&amp;pathRef=.my_folders%2Fbusiness%2Bestimation%2Fbusiness_dashboard&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=view&amp;mode=dashboard&amp;subView=model0000018b95837e45_00000000" width="1200" height="1000" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe>
      <iframe src="https://ap2.ca.analytics.ibm.com/bi/?perspective=dashboard&amp;pathRef=.my_folders%2Fbusiness%2Bestimation%2Fbusiness_dashboard&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=view&amp;mode=dashboard&amp;subView=model0000018b958643a7_00000000" width="1200" height="1000" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe>
      <iframe src="https://ap2.ca.analytics.ibm.com/bi/?perspective=dashboard&amp;pathRef=.my_folders%2Fbusiness%2Bestimation%2Fbusiness_dashboard&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=view&amp;mode=dashboard&amp;subView=model0000018b958a9598_00000000" width="1200" height="1000" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe>
      <h3>STORY</h3>
      <iframe src="https://ap2.ca.analytics.ibm.com/bi/?perspective=story&amp;pathRef=.my_folders%2Fbusiness%2Bestimation%2Fbusiness_story&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=view&amp;sceneId=model0000018b95aa8969_00000000&amp;sceneTime=0" width="1200" height="1000" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe>

      
  </body>
</html>
